extends layout.pug

block content
  - let plugin = bot.plugins[pname] || { version: '0.0.0', description: '', helpEntries: new Map(), groups: new Map(), commands: new Map() }
  .app-text
    h4.app-title #{pname} v#{plugin.version}
    pre #{plugin.description}
    hr

  each help, hname in plugin.helpEntries
    .app-text
      h4.app-title #{hname}
      pre #{help}
      hr

  .app-text
    h4.app-title Groups
    //- console.log(plugin.groups)
    each group, gname in plugin.groups
      h5.group-name #{pname}/#{gname}
      ul.group-list
      each perm in Array.from(group)
        li.group-list-item
          span #{perm}
    hr

  .app-text
    h4.app-title Commands
    each command, cname in plugin.commands
      h5.app-title(id=`${cname}`) #{cname}
      div.mdl-tooltip.mdl-tooltip--bottom(for=`${cname}`) #{pname}/#{cname}
      each branch, bname in command.branches
        pre(id=`${cname}/${bname}`) #{'> ' + cname + ' ' + branch.helpDef}
        div.mdl-tooltip.mdl-tooltip--left(for=`${cname}/${bname}`) #{pname}/#{cname}/#{bname}
        if branch.cooldown != 0
          pre Cooldown: #{branch.cooldown}s
        pre #{branch.description}
        hr
